[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Uri"]
	path = Uri
	url = https://github.com/HANABLI/Uri.git
[submodule "MessageHeaders"]
	path = MessageHeaders
	url = https://github.com/HANABLI/MessageHeaders.git
[submodule "StringUtils"]
	path = StringUtils
	url = https://github.com/HANABLI/StringUtils.git
[submodule "SystemUtils"]
	path = SystemUtils
	url = https://github.com/HANABLI/SystemUtils.git
[submodule "Utf8"]
	path = Utf8
	url = https://github.com/HANABLI/Utf8.git
[submodule "Http"]
	path = Http
	url = https://github.com/HANABLI/Http.git
[submodule "Mqtt"]
	path = Mqtt
	url = https://github.com/HANABLI/Mqtt.git
[submodule "WebServer"]
	path = WebServer
	url = https://github.com/HANABLI/WebServer.git
[submodule "HttpNetworkTransport"]
	path = HttpNetworkTransport
	url = https://github.com/HANABLI/HttpNetworkTransport.git
[submodule "Json"]
	path = Json
	url = https://github.com/HANABLI/Json.git
[submodule "WebSocket"]
	path = WebSocket
	url = https://github.com/HANABLI/WebSocket.git
[submodule "Sha1"]
	path = Sha1
	url = https://github.com/HANABLI/Sha1.git
[submodule "Base64"]
	path = Base64
	url = https://github.com/HANABLI/Base64.git