services:
    falcata:
        image: ghcr.io/hanabli/falcata:windows-latest
        container_name: falcata-webserver
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - "8080:8080"

        environment:
            # secrets via .env (sur la machine de déploiement)
            JWT_SECRET: "${JWT_SECRET}"

            # IMPORTANT: mets ici l’IP/hostname de TON postgres (externe)
            # exemple Azure: host=mydb.postgres.database.azure.com port=5432 dbname=iot user=... password=...
            PG_CONNINFO: "${PG_CONNINFO}"

            # chemins Windows DANS le container
            PLUGINS_DIR: "C:\\opt\\falcata\\plugins"
            PLUGINS_RUNTIME_DIR: "C:\\opt\\falcata\\plugins\\runtime"
            FALCATA_CONFIG: "C:\\opt\\falcata\\config\\config.prod.json"

        volumes:
            # le fichier config sur la machine hôte (dans C:\opt\falcata\config\config.prod.json)
            - type: bind
              source: .\config\config.prod.json
              target: C:\opt\falcata\config\config.prod.json

            # optionnel: override plugins depuis l’hôte
            # - type: bind
            #   source: .\plugins
            #   target: C:\opt\falcata\plugins

        isolation: process
